<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Datagrid</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="templates/main.css"/>
</head>
<body>
    {include "_navbar.latte"}

    <!-- Begin page content -->
    <div class="container">
        {*<div class="table-responsive">*}
            {$table|noescape}
        {*</div>*}
    </div>

    <footer class="footer">
        <div class="container">
            <p class="text-muted text-right">&copy; Matej Sajgal {date('Y')}</p>
        </div>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>
</html>